@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    font-family: 'Lobster Two', cursive;
    color:rgb(0, 0, 0);
    font-size: 1em;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    font-size: clamp(1em, 3vh, 4vh);
    background-image: url(Skeleton_fox_logo-2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size:contain;
    z-index: 1;
}

.nav-links {
    font-size: 0.75em;
    margin: 0em 0.5em 0em 0.5em;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.nav-links:before, .nav-links:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.05em;
    top: 50%;
}

.nav-links:before {
    left: -0.1em;
}
.nav-links:after {
    right: 0.1em;
    background: #fff;
    transition: width 0.5s cubic-bezier(0.20, 0.60, 0.35, 1);
}

.nav-links:hover:before {
    background: rgb(28, 143, 166);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.20, 0.60, 0.35, 1);
}

.nav-links:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.foreground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.25em;
    border:rgb(0, 0, 0);
    box-shadow: 0em 0.05em 0.9em rgb(28, 143, 166);
    background-color: rgba(255, 255, 255, 0.929);
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 1.25em 1em 1.25em 1em
}

#show1,#content1{display: none;}
#show1:checked~#content1{display: block;}
#show2,#content2{display: none;}
#show2:checked~#content2{display: block;}
#show3,#content3{display: none;}
#show3:checked~#content3{display: block;}

.button {
    font-size: 1em;
    padding: 0.25em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    transition: all 0.25s ease-in;
    border-radius: 2em;
    box-shadow: 0em 0.05em 0.9em rgb(28, 143, 166);
}

.overlay {
    display: none;
}

.overlay:target {
    display: flex;
    justify-content: center;
}

.popup {
    padding: 0em 2em 2em 2em;
    background: rgba(156, 233, 240, 0.245);
    border-radius: 1em;
    box-shadow: 0em 0.05em 0.9em rgb(28, 143, 166);
}

.popup .close {
    font-size: 2em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.popup .close:hover {
    color: rgb(28, 143, 166);
}

.popup .p1 {
    text-align: center;
    margin-top: 1em;
    color: rgb(0, 0, 0);
}

.radvisual {
    cursor: pointer;
    font-weight: bold;
}